{% extends 'base.html' %}

{% block content %}
  <div class="text-center">

  <img src="static/opened_fortune_cookie.png" alt="The cookeh"/>
  <h1>{{ fortune }}</h1>
  <br/><br/>
  <p><i>Satisfied?</i></p>

  <div class="row text-center">
    <div class="col-sm-3"></div>

    <div class="col-sm-3">
      <form action="http://0.0.0.0:5000/fool" method="get">
        <button class="btn btn-lg btn-primary" type="submit">HELL YES</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="http://0.0.0.0:5000/edit_cookie" method="get">
        <button class="btn btn-lg btn-warning" type="submit">Uhm... nope.</button>
      </form>
    </div>

    <div class="col-sm-3"></div>
  </div>

  </div>
  <br/>

{% endblock %}
