{% extends 'base.html' %}

{% block content %}
  <div class="text-center">

  <img src="static/opened_fortune_cookie.png" alt="The cookeh"/>
  <h1>Thanks for the participation. BYE.</h1>
  <br/><br/>

  <div class="row text-center">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <form action="http://0.0.0.0:5000/" method="get">
        <button class="btn btn-lg btn-primary" type="submit">Give me another
          cookie</button>
      </form>
    </div>

    <div class="col-sm-4"></div>
  </div>
  </div>

  <br/>
{% endblock %}
